body {
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
    color: #555;
}

.container {
    padding: 0 15px;
    margin: 30px auto;
    max-width: 600px;
}

@media (min-width: 768px) {
    .lead {
        font-size: 19px;
    }    
}

textarea {
    resize: vertical;
}

hr {
    margin: 10px auto;
    border-top: 2px solid #ebebeb;
}

.stat-box {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    text-align: center;
}

.stat-num {
    font-size: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stat-name {
    font-size: 18px;
    font-weight: 300;
}

svg {
    font-size: 10px;
}

svg rect {
    fill: #FF703F;
}

svg .axis path,
svg .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
